{% extends '_base.html' %}
{% load static %}
{% block content %}
{% include 'include/header.html' %}
<!-- **************** MAIN CONTENT START **************** -->
<main>

    <!-- =======================
    Page Banner START -->
    <section class="bg-dark align-items-center d-flex" style="background:url(images/pattern/04.png) no-repeat center center; background-size:cover;">
        <!-- Main banner background image -->
        <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- Title -->
                        <h1 class="text-white fs-2">دوره های آموزشی</h1>
                        <!-- Breadcrumb -->
                        <div class="d-flex">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb breadcrumb-dark breadcrumb-dots mb-0">
                                    <li class="breadcrumb-item"><a href="#">صفحه اصلی</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">دوره های آموزشی</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
        </div>
    </section>
    <!-- =======================
    Page Banner END -->
    
    <!-- =======================
    Page content START -->
    <section class="pt-5">
        <div class="container">
            <!-- Search option START -->
            <div class="row mb-4 align-items-center">
                <!-- Search bar -->
                <div class="col-sm-6 col-xl-4">
                    <form class="border rounded p-2">
                        <div class="input-group input-borderless">
                            <input class="form-control me-1" type="search" placeholder="جستجوی دوره">
                            <button type="button" class="btn btn-primary mb-0 rounded"><i class="fas fa-search"></i></button>
                        </div>
                    </form>
                </div>
    
                <!-- Select option -->
                <div class="col-sm-6 col-xl-3 mt-3 mt-lg-0">
                    <form class="border rounded p-2 input-borderless">
                        <select class="form-select form-select-sm js-choice" aria-label=".form-select-sm">
                            <option value="">دسته بندی</option>
                            <option>کودکان</option>
                            <option>نوجوانان</option>
                            <option>بزرگسالان</option>
                        </select>
                    </form>
                </div>
    
                <!-- Select option -->
                <div class="col-sm-6 col-xl-3 mt-3 mt-xl-0">
                    <form class="border rounded p-2 input-borderless">
                        <select class="form-select form-select-sm js-choice" aria-label=".form-select-sm">
                            <option value=""> تعیین سطح</option>
                            <option>پیشرفته</option>
                            <option>متوسط</option>
                            <option>مبتدی</option>
                        </select>
                    </form>
                </div>
    
                <!-- Button -->
                <div class="col-sm-6 col-xl-2 mt-3 mt-xl-0 d-grid">
                    <a href="#" class="btn btn-lg btn-primary mb-0">فیلتر</a>
                </div>
            </div>
            <!-- Search option END -->
    
            <!-- Course list START -->
            <div class="row g-4 justify-content-center">
            {% for course in courses %}
            <div class="col-12 col-md-10 col-lg-8 mx-auto">
                <div class="card rounded overflow-hidden shadow">
                <div class="row g-0">
                    <!-- Image -->
                    <div class="col-md-4">
                    {% if course.poster %}
                        <img src="{{ course.poster.url }}" alt="{{ course.title }}" class="img-fluid h-100 w-100 object-fit-cover">
                    {% else %}
                        <img src="{% static 'assets/images/default-course.jpg' %}" alt="course image" class="img-fluid h-100 w-100 object-fit-cover">
                    {% endif %}
                    </div>

                    <!-- Card body -->
                    <div class="col-md-8">
                    <div class="card-body">
                        <!-- Title -->
                        <div class="d-flex justify-content-between mb-2">
                        {% if has_taken_level_test %}
                            <a href="{% url 'courses:course-detail' course.pk %}">{{ course.title }}</a>
                        {% else %}
                            <a href="{% url 'assessments:determine-level' %}">{{ course.title }}</a>
                        {% endif %}
                        </div>

                        <!-- Info -->
                        <ul class="list-inline mb-1">
                        <li class="list-inline-item h6 fw-light mb-1 mb-sm-0">
                            <i class="far fa-clock text-danger me-2"></i>{{ course.time_duration }}ساعت
                        </li>
                        <li class="list-inline-item h6 fw-light mb-1 mb-sm-0">
                            <i class="fas fa-table text-orange me-2"></i>{{ course.lesson_count }}ویدیو
                        </li>
                        <li class="list-inline-item h6 fw-light">
                            <i class="fas fa-signal text-success me-2"></i>{{ course.get_level_display }}
                        </li>
                        </ul>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            {% endfor %}
            </div>

            <!-- Course list END -->

                
    
            <!-- Pagination START -->
            <div class="col-12">
                <nav class="mt-4 d-flex justify-content-center" aria-label="navigation">
                    <ul class="pagination pagination-primary-soft d-inline-block d-md-flex rounded mb-0">
                        <li class="page-item mb-0"><a class="page-link" href="#" tabindex="-1"><i class="fas fa-angle-double-right"></i></a></li>
                        <li class="page-item mb-0"><a class="page-link" href="#">1</a></li>
                        <li class="page-item mb-0 active"><a class="page-link" href="#">2</a></li>
                        <li class="page-item mb-0"><a class="page-link" href="#">..</a></li>
                        <li class="page-item mb-0"><a class="page-link" href="#">6</a></li>
                        <li class="page-item mb-0"><a class="page-link" href="#"><i class="fas fa-angle-double-left"></i></a></li>
                    </ul>
                </nav>
            </div>
            <!-- Pagination END -->
    
        </div>
    </section>
    <!-- =======================
    Page content END -->
    
    <!-- =======================
    Action box START -->
    <section class="pt-0">
        <div class="container position-relative">
            <!-- SVG -->
            <figure class="position-absolute top-50 start-50 translate-middle ms-3">
                <svg>
                    <path d="m496 22.999c0 10.493-8.506 18.999-18.999 18.999s-19-8.506-19-18.999 8.507-18.999 19-18.999 18.999 8.506 18.999 18.999z" fill="#fff" fill-rule="evenodd" opacity=".502"/>
                    <path d="m775 102.5c0 5.799-4.701 10.5-10.5 10.5-5.798 0-10.499-4.701-10.499-10.5 0-5.798 4.701-10.499 10.499-10.499 5.799 0 10.5 4.701 10.5 10.499z" fill="#fff" fill-rule="evenodd" opacity=".102"/>
                    <path d="m192 102c0 6.626-5.373 11.999-12 11.999s-11.999-5.373-11.999-11.999c0-6.628 5.372-12 11.999-12s12 5.372 12 12z" fill="#fff" fill-rule="evenodd" opacity=".2"/>
                    <path d="m20.499 10.25c0 5.66-4.589 10.249-10.25 10.249-5.66 0-10.249-4.589-10.249-10.249-0-5.661 4.589-10.25 10.249-10.25 5.661-0 10.25 4.589 10.25 10.25z" fill="#fff" fill-rule="evenodd" opacity=".2"/>
                </svg>
            </figure>
            
           
        </div>
    </section>
    <!-- =======================
    Action box END -->
    
    </main>
    <!-- **************** MAIN CONTENT END **************** -->
    
{% include 'include/footer.html' %}
{% endblock %}